
@import "bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons.min.css';

@keyframes blink {
    0% {
      opacity: 100%;
      animation-timing-function: steps(1, end);
    }
    50% {
      opacity: 0%;
    }
    100% {
      opacity: 0%
    }
}

.x-blink {
  animation: blink infinite 1s;
}

@font-face {
  font-family: Yahoo Sans;
  src: url('/Yahoo Sans.woff');
}